<%= calendar_date_select_includes %>
<% CalendarDateSelect.format = :iso_date  %>
<% CalendarDateSelect.image = "/images/calendar_date_select/calendar.gif"%>

<h1>Edit event</h1>

<table>
  <% form_for(event,
    :html => { :onsubmit=>"document.getElementById('my_event_area_id').value = document.getElementById('event_event_area_id').value" },
    :url => { :controller => "action_log", :action => "update_event", :id => event}) do |f| %>
    <%= f.error_messages %>

    <%= render :partial => 'action_log/events/default_meeting', :locals => {:event => event } %>

    <tr>
      <td>Area of Event</td>
      <td>
        <div id="event_area_select">
          <%= render :partial => 'action_log/events/event_area_select', :locals => {:meeting_id => event.event_area_id, :event => event } %>
        </div>
        <%= hidden_field_tag "my_event_area_id", "" %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :event_type_id %></td>
      <td>
        <% for et in EventType.find(:all) %>
          <%= radio_button_tag "event_type", et.name, (event.event_type_id == et.id ? true : false) %> <%= et.name %><br/>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Event</td>
      <td><%= f.text_area :name, :size=>"40x4" %></td>
    </tr>
    <tr>
      <td><%= f.label :meeting_date %></td>
      <td><%= f.calendar_date_select :meeting_date, :size => 10, :maxlength => 10 %></td>
    </tr>
    <tr>
      <td><%= f.label :log_date %></td>
      <td><%= event.log_date %></td>
    </tr>
    <tr>
      <td><%= f.label "Owner" %></td>
      <td><%= f.collection_select :user_id, User.find(:all), :id, :name, { :include_blank => true } %></td>
    </tr>
    <tr>
      <td><%= f.label :escalated_event_area_id %></td>
      <td><%= f.collection_select :escalated_event_area_id, EventArea.find(:all), :id, :name, { :include_blank => true } %></td>
    </tr>

    <%= render :partial => 'action_log/events/risk_management', :locals => {:event => event } %>

    <tr>
      <td><%= f.submit "Update" %></td>
    </tr>
    <tr>
      <td><%= button_to 'Back', :action => "index" %></td>
    </tr>
    <tr>
      <td><%= button_to 'Destroy', { :action => :destroy_event, :id => event.id}, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
