<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>ActionLog: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'global' %>
  </head>
  <body>
    <noscript>
      <meta http-equiv="refresh" content="1; URL=/enable_javascript.html">
      <p align="center">Error: JavaScript not present.</p>
    </noscript>

    <h1 align="center">Welcome to the ActionLog</h1>

    <% form_tag session_path do -%>
      <table align="center">
        <tr>
          <td colspan="2" align="center">
            <div id="flash">
              <%= render :partial => 'action_log/flash', :locals => { :flash => flash } %>
            </div>
          </td>
        </tr>
        <tr>
          <td align="right"><%= label_tag 'login' %></td>
          <td align="left"><%= text_field_tag 'login', @login %></td>
        </tr>
        <tr>
          <td align="right"><%= label_tag 'password' %></td>
          <td align="left"><%= password_field_tag 'password', nil %></td>
        </tr>
        <tr>
          <td align="right"><%= label_tag 'remember_me', 'Remember me' %></td>
          <td align="left"><%= check_box_tag 'remember_me', '1', @remember_me %>(via Cookies)</td>
        </tr>
        <tr>
          <td><br/></td>
          <td><br/></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><%= submit_tag 'Log in' %></td>
        </tr>
      </table>
    <% end -%>

    <br/><br/>
    <% if APP_CONFIG['open_for_all'] %>
      <p align="center"><b>No account?</b> Sign up as a <%= link_to "new user", signup_path %>.</p>
    <% end %>

    <p align="center"><b>Need help?</b> Contact us at <a href="mailto:info@firstprinciplesmanagement.com">info@firstprinciplesmanagement.com</a>.</p>

    <br/><br/>
    <p  style="font-size: 6pt" align="center">Environment: <%= RAILS_ENV %></p>

    <%#
    location1 = Geokit::Geocoders::IpGeocoder.geocode(request.remote_ip)
    logger.debug(request)
    logger.debug(request.remote_ip)
    location2 = Geokit::Geocoders::IpGeocoder.geocode(request.env["HTTP_X_FORWARDED_FOR"] )
    %>
    <%#=location1.full_address%>
    <%#=location2.full_address%>

    <% if RAILS_ENV != "development" && RAILS_ENV != "testing" %>
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-7863063-1");
          pageTracker._trackPageview();
        } catch(err) {}
      </script>
    <% end %>
  </body>
</html>
