<div onclick="<%=remote_function :update => 'action-' + aktion.id.to_s + '-action_required', :url => {:controller => "action_log_inplace_edit", :action=>"inplace_edit_action_required", :id=>aktion.id} %>">
  <%= "<div style='max-height:35px; max-width:175px; overflow:hidden;'>" if session[:cut_text]=='yes'%>
  <%#=link_to_remote aktion.action_required, :url => { :controller => "action_log", :action => "edit_action_remote", :id => aktion } %>
  <%= aktion.action_required %>
  <%= "</div>" if session[:cut_text]=='yes'%>
</div>
<%=link_to_remote "(full edit)", { :url => { :controller => "action_log_popup_edit", :action => "show_popup_edit_action", :id => aktion } } %>
