<div onclick="<%=remote_function :update => 'action-' + aktion.id.to_s + '-due_date', :url => {:controller => "action_log_inplace_edit", :action=>"inplace_edit_due_date", :id=>aktion.id} %>">
  <% date_text_exists = false %>
  <table class="blindlayouttable">
    <% if aktion.review_date != nil && aktion.review_date != "" %>
      <tr>
        <td style="font-size:<%=session[:font_size]%>;">Review:&nbsp;</td>
        <td style="font-size:<%=session[:font_size]%>;"><%=h aktion.review_date.to_s %></td>
        <% date_text_exists = true %>
      </tr>
    <% end %>
    <tr>
      <% if aktion.new_target_date == nil || aktion.new_target_date == "" %>
        <% unless aktion.target_date == nil || aktion.target_date == "" %>
          <td style="font-size:<%=session[:font_size]%>;">Target:&nbsp;</td>
          <td style="font-size:<%=session[:font_size]%>;">
            <%=aktion.target_date.to_s %>
            <% date_text_exists = true %>
          </td>
        <% else %>
          <td/><td/>
        <% end %>
      <% else %>
        <td style="font-size:<%=session[:font_size]%>;">Target:&nbsp;</td>
        <td style="font-size:<%=session[:font_size]%>;">
          <%=aktion.new_target_date.to_s %>
          <% date_text_exists = true %>
        </td>
      <% end %>
    </tr>
  </table>
  <%= aktion.check_date_consistency ? "" : "(inconsistent)" %>
  <%= "&#160;" unless date_text_exists %>
</div>