<div onclick="<%=remote_function :update => 'action-' + aktion.id.to_s + '-event', :url => {:controller => "action_log_inplace_edit", :action=>"inplace_edit_event", :id=>aktion.id} %>">
  <%= "<div style='max-height:35px; max-width:125px; overflow:hidden;'>" if session[:cut_text]=='yes'%>
  <%#=link_to_remote aktion.event.name, :url => { :controller => "action_log", :action => "edit_event_remote", :id => aktion } %>
  <%= h aktion.event.name %>
  <%= " (escalated from Meeting '#{aktion.event.event_area.meeting.name}')" if aktion.event.escalated_meeting_id == current_meeting.id %>
  <%= "</div>" if session[:cut_text]=='yes'%>
</div>
<%=link_to_remote "(full&nbsp;edit)", { :url => { :controller => "action_log_popup_edit", :action => "show_popup_edit_event", :id => aktion.event } } %>&nbsp;<%=link_to_remote "(add&nbsp;action)", { :url => { :controller => "action_log_popup_edit", :action => "show_popup_add_action", :id => aktion.event, :insert_after_dom_id => "action-#{aktion.id}" } } %>&nbsp;<%=link_to_remote "(quick&nbsp;add&nbsp;action)", { :url => { :controller => "action_log_quick_add", :action => "quick_add_action", :id => aktion.event, :insert_after_dom_id => "action-#{aktion.id}" } } %>

