<h1>Editing action_priority</h1>

<% form_for(@action_priority) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @action_priority %> |
<%= link_to 'Back', action_priorities_path %>
