<h1>Editing action_status</h1>

<% form_for(@action_status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @action_status %> |
<%= link_to 'Back', action_statuses_path %>
