<h1>Listing action_statuses</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for action_status in @action_statuses %>
  <tr>
    <td><%=h action_status.name %></td>
    <td><%= link_to 'Show', action_status %></td>
    <td><%= link_to 'Edit', edit_action_status_path(action_status) %></td>
    <td><%= link_to 'Destroy', action_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New action_status', new_action_status_path %>
