<td style="font-size:<%=session[:font_size]%>;">
  <%= "<div style='max-height:35px; max-width:175px; overflow:hidden;'>" if session[:cut_text]=='yes'%>
  <%=link_to_remote aktion.action_required, :url => { :controller => "action_log", :action => "edit_action_remote", :id => aktion } %>
  <%= "</div>" if session[:cut_text]=='yes'%>
</td>
<td style="font-size:<%=session[:font_size]%>;">
  <%= aktion.requested_by.nil? ? "&#160;": aktion.requested_by.name %>
</td>
<td style="font-size:<%=session[:font_size]%>;">
  <%= aktion.primary_responsible.nil? ? "" : aktion.primary_responsible.name + "<br/>" %>
  <%= aktion.secondary_responsible.nil? ? "" : aktion.secondary_responsible.name%>
  <%= "&#160;" if aktion.primary_responsible.nil? && aktion.secondary_responsible.nil? %>
</td>
<td style="font-size:<%=session[:font_size]%>; white-space: nowrap;">
  <% date_text_exists = false %>
  <% if aktion.review_date != nil && aktion.review_date != "" %>
    Review:&nbsp;<%=h aktion.review_date.to_s %><br/>
    <% date_text_exists = true %>
  <% end %>
  <% if aktion.new_target_date == nil || aktion.new_target_date == "" %>
    <%="Target:&nbsp;" + aktion.target_date.to_s unless aktion.target_date == nil || aktion.target_date == "" %>
    <% date_text_exists = true %>
  <% else %>
    <%= "Target:&nbsp;" + aktion.new_target_date.to_s unless aktion.new_target_date == nil || aktion.new_target_date == "" %>
    <% date_text_exists = true %>
  <% end %>
  <%= aktion.check_date_consistency ? "&#160;" : "<br/>(inconsistent)" %>
  <%= "&#160;" unless date_text_exists %>
</td>
<td style="font-size:<%=session[:font_size]%>;"><div id="action-completion_date-<%=aktion.id%>"><%= aktion.actual_completion_date.blank? ? "&#160;" : h(aktion.actual_completion_date) %></div></td>
<td>
  <% if aktion.action_status_id == ActionStatus::COMPLETED %>
    <%= image_tag("action-checked.png?", :alt => "Completed", :title=>"Completed") %>
  <% else %>
    <a id="closeout_comment_link_<%=aktion.id%>">
      <%=image_tag("action-unchecked.png?", :alt => "Complete", :title=>"Mark as Complete", :mouseover => "action-checked.png?", :border=>"0")%>
    </a>
    <%= render :partial => 'action_log/actions/closeout_comment_popup', :locals => {:aktion => aktion} %>
  <% end %>
</td>
