<td id="event-without-action-<%=event.id%>-area"></td>
<td id="event-without-action-<%=event.id%>-meeting"></td>
<td id="event-without-action-<%=event.id%>-name"><%=Event::PASSWORD_PROTECTED_NAME%></td>
<td id="event-without-action-<%=event.id%>-owner"></td>
<td id="event-without-action-<%=event.id%>-actions"></td>
