<b><u>Action Log</u></b> - Grouped by: <%=link_to_remote("Actions", :url => { :action => "index_grouped_by_actions" }) %> Events

<table cellspacing="0" cellpadding="0" width="100%">
  <colgroup span="8"></colgroup>
  <tr>
    <th class="blueheader">Event<br/><%=link_to_remote image_tag("Crystal_Clear_action_edit_add.png?", :alt => "(quick add event &amp; action)", :size => "12x12", :title=>"Quick add of Event and Action", :border=>"0", :style => "float: middle;"), { :url => { :controller => "action_log_quick_add", :action => "quick_add_event_and_action", :insert_after_dom_id => "first_empty_row" } } %></th>
    <th class="blueheader">Action required</th>
    <th class="blueheader">Requested by</th>
    <th class="blueheader">Responsible</th>
    <th class="blueheader">Due date</th>
    <th class="blueheader">Completion date</th>
    <th class="blueheader"></th>
  </tr>

  <tr id="first_empty_row"><td colspan="7"></td></tr>
  <% for event in @events %>
    <%  clazz = "record" %>
    <tr class="<%=clazz %>" id="event-<%=event.id%>-event-tr">
      <td colspan="8" title="Click to edit" id="event-<%=event.id%>-event">
        <%= render :partial => "action_log/table_cells/event_grouped_by_events", :locals => { :event => event } %>
      </td>
    </tr>
    <% for aktion in event.aktions %>
      <% aktion_class = "record even-record" %>
      <% aktion_class = (aktion.overdue ? "highlighted-record " : "") + aktion_class %>
      <tr class="<%=aktion_class%>" id="action-<%=aktion.id%>">
        <td>&#160;</td>
        <%= render :partial => "index_actions_action_data", :locals => { :aktion => aktion } %>
      </tr>
    <% end %>
  <% end %>
</table>
