
<table cellspacing="0" cellpadding="0">
  <colgroup span="8"></colgroup>
  <tr>
    <th class="header">Event</th>
    <th class="header">Action required<br/><%=link_to_remote "(quick add event &amp; action)", { :url => { :controller => "action_log_quick_add", :action => "quick_add_event_and_action", :insert_after_dom_id => "first_empty_row" } } %></th>
    <th class="header">Requested by</th>
    <th class="header">Responsible</th>
    <th class="header">Due date</th>
    <th class="header">Completion date</th>
    <th class="header"></th>
  </tr>

  <tr id="first_empty_row"><td colspan="7"></td></tr>
  <% for event in @events %>
    <%  clazz = "record" %>
    <tr class="<%=clazz %>" id="event-<%=event.id%>-event-tr">
      <td colspan="8" title="Click to edit" id="event-<%=event.id%>-event">
        <%= render :partial => "action_log/table_cells/event_grouped_by_events", :locals => { :event => event } %>
      </td>
    </tr>
    <% for aktion in event.aktions %>
      <% aktion_class = "record even-record" %>
      <% aktion_class = (aktion.overdue ? "highlighted-record " : "") + aktion_class %>
      <tr class="<%=aktion_class%>" id="action-<%=aktion.id%>">
        <td>&#160;</td>
        <%= render :partial => "index_actions_action_data", :locals => { :aktion => aktion } %>
      </tr>
    <% end %>
  <% end %>
</table>
