<%= calendar_date_select_includes %>
<% CalendarDateSelect.format = :iso_date  %>
<% CalendarDateSelect.image = "/images/calendar_date_select/calendar.gif"%>
<%= progress_bar_includes %>
<%= stylesheet_link_tag 'popup-kit/popup.css' %>
<%= stylesheet_link_tag 'moo.fx/accordion.css' %>
<%= javascript_include_tag 'popup-kit/popup.js' %>

<% if current_meeting.nil? %>
  <br/><br/><br/><br/><br/>
  <p align="center"><b>Choose current meeting with Meeting Selector in top right corner.</b></p>
  <%= update_page_tag do |page|
    #page.visual_effect(:highlight, "cmeeting_selector", :duration => 2)
    #page.visual_effect(:shake, "cmeeting_selector", :duration => 2, :distance=>40)
    #page.visual_effect(:puff, "cmeeting_selector", :duration => 2)
    #page.visual_effect(:appear, "cmeeting_selector", :duration => 2)
    page.visual_effect(:pulsate, "cmeeting_selector", :duration => 2, :pulses=>5)
  end %>

<% else %>
  <% if @edit_event %>
    <%= render :partial => 'action_log/events/edit_event', :locals => { :event => @event } %>
  <% end %>
  <% if @edit_action %>
    <%= render :partial => 'action_log/actions/edit_action', :locals => {}  %>
  <% end %>

  <%
  if flash[:notice].blank? && flash[:error].blank?
    style = "display: none;"
  else
    style = ""
  end
%>

  <% if !@edit_event %>
    <%= link_to_function "Add event", visual_effect(:toggle_blind,"add_event")%>
    <div id="add_event" style="display:none;">
      <%= render :partial => 'action_log/events/new_event_1', :locals => { :event => @event} if !@edit_event && @event != nil %>
    </div>
  <% end %>
  <% if !@edit_action %>
    <%= link_to_function "Add action", visual_effect(:toggle_blind,"add_action")%>
    <div id="add_action" style="display:none;">
      <%= render :partial => 'action_log/actions/new_action_1', :locals => { :aktion => @aktion} if !@edit_aktion && @aktion != nil %>
    </div>
  <% end %>

  <!--
  <% if !@edit_event && !@edit_action %>
    <%= link_to_function "Add events and actions (old)", visual_effect(:toggle_blind,"add")%>
                        <div id="add" style="<%=style%>">
                          <table>
                            <tr>
                              <td valign="top">
    <%#= render :partial => 'action_log/events/new_event', :locals => { :event => @event } if !@edit_event && @event != nil %>
                              </td>
                              <td>
    <%#= render :partial => 'action_log/actions/new_action', :locals => { :aktion => @aktion} if !@edit_aktion && @aktion != nil %>
                              </td>
                            </tr>
                          </table>
                        </div>
  <% end %>
        -->

  <%= link_to_function "Events without Actions", visual_effect(:toggle_blind,"index_events_without_actions")%>
  <div id="index_events_without_actions" style = "display: none;">
    <%= render :partial => 'index_events_without_actions', :locals => { } %>
  </div>
  <br/>

  <%= link_to_function "Toggle filter", visual_effect(:toggle_blind,"index_filter")%>
  <div id="index_filter" style = "display: none;">
    <%= render :partial => 'index_filter', :locals => { :action_status => params[:action_status], :requested => params[:requested], :responsible => params[:responsible], :to => params[:to], :from => params[:from], } %>
  </div>
  <br/>

  <div id="edit_action_popup" class="popup" style="display:none">
    <%= render :partial => 'action_log_popup_edit/popup_edit_action_singleton', :locals => { :aktion => Aktion.new }  %>
  </div>
  <%= javascript_tag "new Popup('edit_action_popup','null',{modal:true,position:'center'})" %>

  <%= link_to_function "Action Log", visual_effect(:toggle_blind,"index_action_log")%>
  <div id="index_action_log">
  <h3 class="tab" title="first"><div class="tabtxt">Grouped by:</div></h3>
  <h3 class="tab" title="first"><div class="tabtxt"><%=link_to_remote("Actions", :url => { :action => "index_grouped_by_actions" }) %></div></h3>
  <h3 class="tab" title="first"><div class="tabtxt"><%=link_to_remote("Events", :url => { :action => "index_grouped_by_events" }) %></div></h3>
  <div class="boxholder"/>
    <div id="index_actions">
      <% if session[:action_log_current_view] == "grouped_by_events" %>
        <%= render :partial => 'index_actions_grouped_by_events', :locals => {} %>
      <% else %>
        <%= render :partial => 'index_actions_grouped_by_actions', :locals => {} %>
      <% end %>
    </div>
  </div>

<% end %>