    <tr>
      <td>Area of Event</td>
      <td>
        <div id="action_event_area_select">
          <%= render :partial => 'action_log/actions/event_area_select', :locals => {:meeting_id => aktion.meeting_id, :aktion => aktion } %>
        </div>
      </td>
    </tr>
    <tr>
      <td>Event</td>
      <td>
        <div id="action_event_select">
          <%= render :partial => 'action_log/actions/event_select', :locals => {:event_area_id => aktion.event_area_id, :aktion => aktion } %>
        </div>
        <%= hidden_field_tag "my_event_id", "" %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :assignment_date %></td>
      <td>
        <table class="blindtable" width="100%">
          <tr>
            <td align="left">
              <%= calendar_date_select_tag :assignment_date, :size => 10, :maxlength => 10 %>
            </td>
            <td align="right">(<%= label_tag :log_date %>: <%=aktion.log_date%>)</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :action_type_id %></td>
      <td>
        <% for et in ActionType.find(:all) %>
          <%= radio_button_tag "action_type", et.name, (aktion.action_type_id == et.id ? true : false) %> <%= et.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :action_required %></td>
      <td>
        <%= text_area_tag "aktion_action_required", aktion.action_required, :size => "40x4" %>
        o<%= observe_field "aktion_action_required", :url => { :action => :check_action_required }, :frequency => 2, :with => 'verb'%>O

        <%#=text_area_with_auto_complete :aktion, :action_required,
        { :size => "40x4", :onChange => "new Ajax.Request('/action_log/check_action_required/' + this.value,
        {asynchronous:true, evalScripts:true, parameters:'authenticity_token='+encodeURIComponent('"+form_authenticity_token.to_s+"')})"},
        {:method => :get, :frequency=>0, :min_chars => 0} %>
      </td>
    </tr>
