<div id="edit_action_popup_<%=aktion.id%>" class="popup" style="display:none">

  <b>Edit action</b> (for Meeting <%= "'#{aktion.meeting.name}' in '#{aktion.organizational_unit.name}')" %>
  
  <% remote_form_for(
    aktion,
    :html => { :onsubmit=>"document.getElementById('my_event_id').value = document.getElementById('aktion_event_id').value" },
    :url => { :controller => "action_log", :action => "update_action", :id => aktion}) do |f| %>
    <table class="blindtable">
    
      <span id="edit_action_popup_<%=aktion.id%>_part_1">
      </span>
    </table>
    <table class="blindtable">
      <tr>
        <td></td>
        <td>
          Description quality: <%=progress_bar("action_status_",0,false,true) %>&nbsp;&nbsp;<span id="action_status">&nbsp;</span>
        </td>
      </tr>
    </table>
    <table class="blindtable">
      <span id="edit_action_popup_<%=aktion.id%>_part_2">
      </span>
    </table>
    <table class="blindtable">
      <tr>
        <td>
          <%= f.submit 'Update', :class => 'popup_closebox' %>
          <%= link_to_remote 'Cancel', :url => {:action => "update_action_cancelled", :id => aktion } %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<%= javascript_tag "new Popup('edit_action_popup_#{aktion.id}','null',{modal:true,position:'center'})" %>
