<h1>Editing event_area</h1>

<% form_for(@event_area) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :meeting_id %><br />
    <%= f.text_field :meeting_id %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @event_area %> |
<%= link_to 'Back', event_areas_path %>
