<h1>Listing event_areas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Meeting</th>
    <th>Description</th>
  </tr>

<% for event_area in @event_areas %>
  <tr>
    <td><%=h event_area.name %></td>
    <td><%=h event_area.meeting_id %></td>
    <td><%=h event_area.description %></td>
    <td><%= link_to 'Show', event_area %></td>
    <td><%= link_to 'Edit', edit_event_area_path(event_area) %></td>
    <td><%= link_to 'Destroy', event_area, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event_area', new_event_area_path %>
