<p>
  <b>Name:</b>
  <%=h @event_area.name %>
</p>

<p>
  <b>Meeting:</b>
  <%=h @event_area.meeting_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @event_area.description %>
</p>


<%= link_to 'Edit', edit_event_area_path(@event_area) %> |
<%= link_to 'Back', event_areas_path %>
