<h1>Editing event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :log_date %><br />
    <%= f.date_select :log_date %>
  </p>
  <p>
    <%= f.label :event_area_id %><br />
    <%= f.text_field :event_area_id %>
  </p>
  <p>
    Escalated to meeting<br />
    <%= f.text_field :escalated_meeting_id %>
  </p>
  <p>
    <%= f.label :event_type_id %><br />
    <%= f.text_field :event_type_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :priority_id %><br />
    <%= f.text_field :priority_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
