<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Log date</th>
    <th>Event area</th>
    <th>Escalated event area</th>
    <th>Event type</th>
    <th>User</th>
    <th>Priority</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%=h event.name %></td>
    <td><%=h event.log_date %></td>
    <td><%=h event.event_area_id %></td>
    <td><%=h event.escalated_event_area_id %></td>
    <td><%=h event.event_type_id %></td>
    <td><%=h event.user_id %></td>
    <td><%=h event.priority_id %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
