<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Log date:</b>
  <%=h @event.log_date %>
</p>

<p>
  <b>Event area:</b>
  <%=h @event.event_area_id %>
</p>

<p>
  <b>Escalated event area:</b>
  <%=h @event.escalated_event_area_id %>
</p>

<p>
  <b>Event type:</b>
  <%=h @event.event_type_id %>
</p>

<p>
  <b>User:</b>
  <%=h @event.user_id %>
</p>

<p>
  <b>Priority:</b>
  <%=h @event.priority_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
