<h1>Editing priority_range</h1>

<% form_for(@priority_range) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :priority_axis_id %><br />
    <%= f.text_field :priority_axis_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @priority_range %> |
<%= link_to 'Back', priority_ranges_path %>
