<h1>Listing organizational_units</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Description</th>
  </tr>

<% for organizational_unit in @organizational_units %>
  <tr>
    <td><%=h organizational_unit.name %></td>
    <td><%=h organizational_unit.parent_id %></td>
    <td><%=h organizational_unit.description %></td>
    <td><%= link_to 'Show', organizational_unit %></td>
    <td><%= link_to 'Edit', edit_organizational_unit_path(organizational_unit) %></td>
    <td><%= link_to 'Destroy', organizational_unit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New organizational_unit', new_organizational_unit_path %>
