<p>
  <b>Name:</b>
  <%=h @organizational_unit.name %>
</p>

<p>
  <b>Parent:</b>
  <%=h @organizational_unit.parent_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @organizational_unit.description %>
</p>


<%= link_to 'Edit', edit_organizational_unit_path(@organizational_unit) %> |
<%= link_to 'Back', organizational_units_path %>
