<h1>Editing action_verb</h1>

<% form_for(@action_verb) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :verb %><br />
    <%= f.text_field :verb %>
  </p>
  <p>
    <%= f.label :disliked %><br />
    <%= f.check_box :disliked %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @action_verb %> |
<%= link_to 'Back', action_verbs_path %>
