<h1>Listing action_verbs</h1>

<table>
  <tr>
    <th>Verb</th>
    <th>Disliked</th>
  </tr>

<% for action_verb in @action_verbs %>
  <tr>
    <td><%=h action_verb.verb %></td>
    <td><%=h action_verb.disliked %></td>
    <td><%= link_to 'Show', action_verb %></td>
    <td><%= link_to 'Edit', edit_action_verb_path(action_verb) %></td>
    <td><%= link_to 'Destroy', action_verb, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New action_verb', new_action_verb_path %>
