<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'menu.js' %>
<%= stylesheet_link_tag 'menu.css' %>

<table width="100%" cellpadding="0px" cellspacing="0px">
  <tr >
    <td align="left" width="350px" valign="bottom">
      <div id="menu">
        <ul class="level1" id="root">
          <li>
            <a href="#">Action Log</a>
            <ul class="level2">
              <li><%= link_to "DDD - Daily Digest Dashboard", :controller => "/daily_digest_dashboard" %></li>
              <li><%= link_to "Action Log", :controller => "/action_log" %></li>
              <li><%= link_to "Meeting Minutes", :controller => "/meeting_minutes" %></li>
              <li><%= link_to "Export data", :controller => "admin/export" %></li>
            </ul>
          </li>
          <% deny :user => :is_user? do %>
            <li class="sep">|</li>
            <li><a href="#">Administration</a>
              <ul class="level2">
                <li><%= link_to "Users", :controller => "admin/user" %></li>
                <li><%= link_to "Organizational Units", :controller => "admin/organizational_unit" %></li>
                <li><%= link_to "Meetings", :controller => "admin/meeting" %></li>
                <li><%= link_to "Event Area", :controller => "admin/event_area" %></li>
              </ul>
            </li>
            <% deny :user => :is_administrator? do %>
              <li class="sep">|</li>
              <li><a href="#">Customization</a>
                <ul class="level2">
                  <li><%= link_to "Action Priorities", :controller => "customization/action_priority" %></li>
                  <li><%= link_to "Action Verbs", :controller => "customization/action_verb" %></li>
                  <li><%= link_to "Priority Axes & Ranges", :controller => "customization/priority_axis" %></li>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </td>
    <% if is_ie6? && controller.controller_name == "action_log" %>
      <td align="center" >
        <div style="text-align:center;" id="overlay" valign="top" align="center" >
          <div id="spinner">
            <%=image_tag("spinner/progress_bar.gif?", :id => "busy")%>
            <br/>Please wait while processing request...
          </div>
        </div>
      </td>
    <% end %>
    <td align="right" valign="top">
      <%= render :partial => 'accounts/account_bar' %>
    </td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#00A5A5" height="4px"></td>
  </tr>
</table>
