<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'moo.fx/moo.fx.js' %>
<%= javascript_include_tag 'moo.fx/accordion.js' %>
<%= stylesheet_link_tag 'moo.fx/accordion.css' %>

<% javascript_tag do -%>
  function init(){
  var stretchers = document.getElementsByClassName('box');
  var toggles = document.getElementsByClassName('tab');
  var myAccordion = new fx.Accordion(toggles, stretchers, {opacity: false, height: true, duration: 600});
  //hash functions
  var found = false;
  //  toggles.each(function(h3, i){
  //  var div = Element.find(h3, 'nextSibling');
  //if (window.location.href.indexOf(h3.title) > 0) {
  //myAccordion.showThisHideOpen(div);
  //found = true;
  //}
  //});
  if (!found) myAccordion.showThisHideOpen(stretchers[0]);
  }
<%end%>

<div id="wrapper">
  <div id="content">
    <table width="100%">
      <tr>
        <td align="left" >
          <h3 class="tab" title="first"><div class="tabtxt"><a href="#">Action Log</a></div></h3>
          <% deny :user => :is_user? do %>
            <div class="tab"><h3 class="tabtxt" title="second"><a href="#">Administration</a></h3></div>
            <% deny :user => :is_administrator? do %>
              <div class="tab"><h3 class="tabtxt" title="third"><a href="#">Customization</a></h3></div>
            <% end %>
          <% end %>
        </td>
        <td align="right">
          <%= render :partial => 'accounts/account_bar' %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="boxholder">
            <div class="box">
              <%= link_to "Action Log", :controller => "/action_log" %>
              <%= link_to "Export data", :controller => "admin/export" %>
            </div>
            <% deny :user => :is_user? do %>
              <div class="box">
                <%= link_to "Users", :controller => "admin/user" %>
                <%= link_to "Organizational Units", :controller => "admin/organizational_unit" %>
                <%= link_to "Meetings", :controller => "admin/meeting" %>
                <%= link_to "Event Area", :controller => "admin/event_area" %>

              </div>
              <% deny :user => :is_administrator? do %>
                <div class="box">
                  <%= link_to "Action Priorities", :controller => "customization/action_priority" %>
                  <%= link_to "Action Verbs", :controller => "customization/action_verb" %>
                  <%= link_to "Priority Axes & Ranges", :controller => "customization/priority_axis" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<% javascript_tag do -%>
  Element.cleanWhitespace('content');
  init();
<%  end -%>