<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Daily Digest Dashboard: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'global', :media=>:all %>
  </head>
  <body>
    <div>
      <% if params[:print].blank? %>
        <div style="position:absolute; left:400px" id="overlay" align="center" >
          <div id="spinner">
            <%=image_tag("spinner/progress_bar.gif?", :id => "busy")%>
            <br/>Please wait while processing request...
          </div>
        </div>
      <% end %>
      <div >
        <% if params[:print].blank? %>
          <%= render :partial => 'layouts/menu' %>
        <% else %>
          <b>Go to:</b> <%=link_to "Back to Daily Digest Dashboard", :controller => :daily_digest_dashboard %>
          &nbsp;&nbsp;&nbsp;<b>Print:</b> <%=link_to_function("This Page", "javascript:print()")%>
        <% end %>
        <%= yield  %>
      </div>
    </div>
    <% if params[:print].blank? %>
      <%= update_page_tag do |page|
        page["overlay"].hide
      end %>
    <% end %>
  </body>
</html>
