    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'global' %>

<h1 align="center">Sign up as a new user</h1>
<% @account.password = @account.password_confirmation = nil %>

<%= error_messages_for :account %>
<% form_for :account, :url => accounts_path do |f| -%>
        <table align="center">
        <tr>
          <td colspan="2" align="center">
            <div id="flash">
              <%= render :partial => 'action_log/flash', :locals => { :flash => flash } %>
            </div>
          </td>
        </tr>
        <tr>
          <td align="right"><%= label_tag 'login' %></td>
          <td align="left"><%= f.text_field :login %></td>
        </tr>
        <tr>
          <td align="right"><%= label_tag 'email' %></td>
          <td align="left"><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td align="right"><%= label_tag 'password' %></td>
          <td align="left"><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td align="right"><%= label_tag 'password_confirmation', 'Confirm Password' %></td>
          <td align="left"><%= f.password_field :password_confirmation %></td>
        </tr>
        <tr>
          <td><br/></td>
          <td><br/></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><%= submit_tag 'Sign up' %></td>
        </tr>
      </table>

<% end -%>

<br/>
<p align="center"><b>Need help?</b> Contact us at <a href="mailto:info@firstprinciplesmanagement.com">info@firstprinciplesmanagement.com</a>.</p>

<p align="center"><b>Need more?</b> The ActionLog is also available as a full-fledged enterprise solution. Again ask <a href="mailto:info@firstprinciplesmanagement.com">us</a>.</p>

<% if RAILS_ENV != "development" && RAILS_ENV != "testing" %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-7863063-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
<% end %>